@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menu-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $standard-text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menu-link-border;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $white-text-color;
        border-color: $primary;
      }

      &.active {
        border-color: $standard-text-color;
      }
    }
  }

  .dropdown_menu_button {
    background-color: $color-white;
    color: $color-darkgray;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid $button-outline;
    height: 45px;
    width: inherit;
  }
  
  .dropdown_menu {
    position: relative;
    display: inline-block;
    align-items: center;
  }
  
  .dropdown_menu_content {
    display: none;
    position: absolute;
    background-color: $color-vlightgray;
    z-index: 1;
    top: 65px;
    left: -13px;
  }
  
  .dropdown_menu_content a {
    color: $color-black;
    text-decoration: none;
    display: block !important;
    background-color: $color-white;
    border-color: $color-dark;
    padding: 10px 5px !important;
  }
  
  .dropdown_menu_content p {
    font-size: 10px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .dropdown_menu:hover .dropdown_menu_content {
    display: block;
  }
}

