$base-padding: 24px;

// Color Variables - ATTENTION! NOT TO BE USED IN COMPONENTS!
$color-black: #2a2a2a;
$color-dark: #292929;
$color-darkgray: #363636;
$color-gray: #434343;
$color-lightgray: #b6b6b6;
$color-vlightgray: #e1e1e1;
$color-light: #f4f5f7;
$color-white: #ffffff;
$color-orange: #FFA500;
$color-darkorange: #d58e32;
$color-lightblue: #6db4fe;
$color-yellow: #e7d65a;

// Component color variables - TO BE USED IN COMPONENTS
// Global
$primary: $color-darkorange;
$secondary: $color-orange;
$standard-text-color: $color-black;
$text-color: $color-black;
$white-text-color: $color-white;
$gray-text-color: $color-gray;
$form-border-color: $color-dark;

// Header
$header-topbar-bg: $color-gray;
$header-bg: $color-darkgray;

// Footer
$footer-claim-bg: $color-black;
$footer-bg: $color-darkgray;


// Button
$button-bg: $color-black;
$button-outline: $color-black;

// Feature box
$feature-box-border: $color-lightgray;
$feature-box-bg: $color-white;

// Product box
$product-box-bg: $color-white;
$product-box-border: $color-vlightgray;
$product-box-text: $color-light;
$product-sale-bg: $color-dark;
$product-line: $color-black;

// New Furniture
$new-furniture-border: $color-vlightgray;
$new-furniture-list-bg: $color-white;
$new-furniture-link-bg: $color-vlightgray;

// Menu bar
$menu-bg: $color-white;
$menu-link-border: $color-white;

// Product Search
$product-search-ul-border: $color-darkgray;
$product-search-li-bg: $color-light;
$product-search-ul-bg: $color-white;

// Brands
$brands-border: $color-vlightgray;
$form-border-color: #292929;

// Login
$login-bg-1: #344e65;
$login-bg-2: #475f78;
$login-cont-bg: $color-white;
$l-input-border: $color-vlightgray;
$login-link: $color-lightblue;
$login-bt-border: $color-yellow;
$login-bt-bg-1: #f6d636;
$login-bt-bg-2: #f89327;

// Register
$r-input-border: $color-vlightgray;
$register-bt-bg-2: #f89327;

// Placeholder for 'hover'
$transition: color 250ms, background-color 250ms;

%hover-animations {
  transition: $transition;
}
