@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      img {
        max-width: 100%;
      }
    }

    @media(max-width: 374px) {
      .footer {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @media(min-width: 375px) {
      .footer {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    @media(min-width: 768px) {
      .footer {
        flex: 0 0 25%;
        max-width: 25%;
        
      }
    }

    .menuWrapper {
      h6 {
        color: $white-text-color;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169, 169, 169);

            &:hover {
              color: $white-text-color;
            }
          }
        }
      }
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottomBar {
    background-color: $footer-claim-bg;

    :global(.container) > :global(.row) {
      height: 95px;
    }
    .new {
      display: flex;
      justify-content: center;
      p {
        color: rgb(169, 169, 169);  
      }
    }

    .copyright {
      text-align: left;
      p {
        margin: 0;
        color: rgb(169, 169, 169);
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
      text-align: right;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: rgb(169, 169, 169);
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    @media(max-width: 767px) {
      .socialMedia {
        text-align: center;
      }
      .copyright {
        text-align: center;
      }
      .new {
        text-align: center;
      }
    }
    
  }
}
