@import "../../../styles/settings.scss";

.root {
  height: 95%;
  width: 100%;
  .popoutWrapper {
    display: flex;
    height: 100%;
    .popoutProductImg {
      display: block;
      height: 100%;
      width: 60%;
      overflow: hidden;
      box-shadow: $color-lightgray 0px 1px 2px 0px, $color-lightgray 0px 2px 6px 2px;
      img {
        height: 100%;
        object-fit: fill;
      }
    }
    .popoutProductInfo {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0 auto;
      padding: 10px;
      background-color: $color-white;
      box-shadow: $color-lightgray 0px 1px 2px 0px, $color-lightgray 0px 2px 6px 2px;
      .popoutInfoWrapper {
        margin: 5px 0;
        transform: scale(0.8);
      }
    }
  }
}
